---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getCategories } from "../../requests/categories";
import ProductsCard from "../../components/customs/statics/productsCard.astro";

var {id} = Astro.params
var {productsFilteredByCategory,name} = Astro.props


export const getStaticPaths = (async() => {

var categories = await getCategories(null,null,null,null,true)


return categories.rows.map(e => ({
  params: {id: e.id},
  props: {name: e.name, productsFilteredByCategory: e.products},
  falback: false
}))

}) satisfies GetStaticPaths;
---


<Layout title="Product">
  <h3>Products filtered by category {name}</h3>
  <div class="flex flex-wrap justify-center gap-4">
    {
      productsFilteredByCategory.map(e => (
      <ProductsCard id={e.id} name={e.name} image1={e.image1} price={e.price} />
      ))
    }
  </div>
 
</Layout>