---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getCategories } from "../../requests/categories";




  

export const getStaticPaths = (async() => {

  var categories = await getCategories()

  return categories.rows.map(e => ({
    params: {id: e.id},
    props: {name: e.name},
    falback: false
  }))

}) satisfies GetStaticPaths;


var {id} = Astro.params
var {name,email,role} = Astro.props


---

<Layout title="User">
  <div transition:name={`user-${id}`} class="flex ml-10 flex-col items-center p-5 w-fit rounded-md border border-primary">
    <h1 class="text-4xl">{name}</h1>
    <h2 class="text-3xl" >{email}</h2>
    <h2 class={`text-2xl ${role == "admin" ? "text-orange-500" : "text-green-500"}`}>{role}</h2>
  </div>
</Layout>

